.morning-slot {
    background-color: #cceeff; /* Light blue */
    color: #333333; /* Dark text for readability */
}

.afternoon-slot {
    background-color: #ccffcc; /* Light green */
    color: #333333;
}

.evening-slot {
    background-color: #ffdacc; /* Light orange */
    color: #333333;
}

.fc-timegrid-slot-lane {
    opacity: 0.8; /* Makes the background color less intense */
}
